@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&family=Slabo+27px&display=swap');
body {
    margin: 0;
    padding: 0;
}
#color_bg {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url('img/Sky_Mountains_Georgia_Ushguli_Upper_Svaneti_581352_3840x2400.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.bbb {
    padding-bottom: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    background: #d6d5d5;
    border: 2px solid #191A23;
    box-shadow: 0px 5px #014288;
    border-radius: 10px;
    margin-top: 16px;
    width: 100% !important;
}
.horizontal-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    gap: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: #014288;

    /* Auto-snap */
    scroll-snap-type: x mandatory;
}

.horizontal-scroll > * {
    scroll-snap-align: start;
}

/* Custom scrollbar (Chrome, Edge) */
.horizontal-scroll::-webkit-scrollbar {
    height: 8px;
}

.horizontal-scroll::-webkit-scrollbar-track {
    background: #e0e6ef;
    border-radius: 10px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #014288;
    border-radius: 10px;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #013066;
}
.four.active,
.five.active {
    color: red;
    cursor: pointer;
}


.four {
    cursor: pointer;
}
.five{
    cursor: pointer;
}

.icon {
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.icon.active {
    display: inline-block;
}
hr {
  border: none;
  height: 3px;
  background-color: white;
  width: 100%;
}


.nav-link{
    list-style: none;   
    gap: 30px;
}

.nav-link a {
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  padding: 5px 0;
  font-family: 'Space Grotesk';
}

.nav-link a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.nav-link a:hover::after {
  width: 100%;
}


.nav-color {
    backdrop-filter: blur(50px);
    color: white;    
    width: 100%; 

}
.btn-primary{
    padding: 20px;
    border-radius: 14px;
    background-color: #00496b;
    color: white;
    border-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
}
.btn-primaryYel{
    padding: 20px;
    border-radius: 14px;
    background-color: #ffa500;
    color: black;
    border-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
}


.text-decoration a{
    text-decoration: none;
}
.white a{
    color: white;
}


.response-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media only screen and (max-width: 991px) {
    .desktop-only {
        display: none;
    }
    
    .response-only {
        display: block;
    }
    .flexWrap{
        flex-wrap: wrap;
    }
   
}


.language-switcher {
    margin: 20px;
}

select {
    padding: 10px;
    font-size: 16px;
}

.list-unstyled a{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: white;
   
}
.downStyle {
    padding: 50px 50px 10px 50px;
    background: #191A23;
    border-radius: 45px 45px 0px 0px;
    margin-top: 60px;
}
.downStyle p {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.footer_line {
    border: 1px solid #FFFFFF;
}
.mb_down {
    margin-top: 80px;
    padding: 50px 20px 30px;
    width: 106%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #191A23;
}

.mobile_emailborder {
    padding: 40px;
    background: #292A32;
    border-radius: 14px;
}
.mb_footer_email {
    padding: 20px;
    width: 186px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
}
.btn-primaryRes{
    padding: 20px;
    border-radius: 14px;
    background-color: #00496b;
    color: white;
    border-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold; 
}
.vertical_line {
width: 186px;
height: 0px;
border: 1px solid #FFFFFF;
transform: rotate(90deg);
}

.email_box {

background: #F3F3F3;
border-radius: 45px;
}



.footer_link {
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: white;
}
.m {
padding: 50px;


background: #292A32;
border-radius: 14px;
}

.footer_email {
padding: 22px 35px;
width: 285px;
height: 67px;
border: 1px solid #FFFFFF;
border-radius: 14px;
}
.footer_line {
    border: 1px solid white;
    }
.mbfooter_line {
    width: 300px;
    border: 1px solid white;
}

.g_border {
    width: 200px;
padding: 6px;
color: white;
background: #00496b;
border-radius: 7px;
}

.footer_navs {
color: white;
}
.footerPhoto img{
    border-radius: 10px;
}
.marginTop{
    margin-top: 120px;
}
.banner_header {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
    color: white;
}
.banner_text {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: white;
}
.bgContact{
    background-image: url("../src/img/91979036_100273504974638_1919195476108771328_n.jpg");
    width: 100%;
    height: 330px   ;
    align-items: center; 
    display: flex;
    background-size: cover;
    background-position: start;
  }
  .bgContactRes{
    background-image: url("../src/img/91979036_100273504974638_1919195476108771328_n.jpg");
    width: 100%;
    height: 578px   ;
    background-size: cover;
    background-position: start;
    align-items: center; 
    display: flex;
   
  }
.positionRel{
    position: relative;
}
.positionAbs{
    position: absolute;
}
.Process{
    font-family: Arial, sans-serif;
}
.process-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
  }
  .step {
    text-align: center;
    width: 30%;
    position: relative;
  }
  .step-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #00496b;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 10px;
  }
  .step-title {
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
  }
  .step-description {
    font-size: 14px;
    color: #555;
  }
  .step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -25%;
    width: 50%;
    height: 2px;
    background-color: #ddd;
  }
.zz{
    font-family: "Sevillana", cursive;
    font-weight: bold;
    color: black;
    font-size: 80px;
  }
  .cc{
    font-family: "Sevillana", cursive;
    font-weight: bold;
    color: black;
    font-size: 50px;
  }
  .vv{
    font-family: 'Space Grotesk';
    font-weight: bold;
    
    
  }
  .kk{
    font-family: 'Space Grotesk';
    font-weight: bold;
    color: white;
  }
  .nn{
    font-family: 'Space Grotesk';
    font-size: 40px;
    font-weight: bolder;
    color: white;
   
  }
  .Bold{
    font-weight: bold;
  }
  .historyBox{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    max-width: 100%;
 
    padding: 20px 10px 10px 10px;
    background-color: white;
  }
  .historyBox li{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
  }
  .historyBoxRes li{
    font-family:Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
  }
  h3{
    font-family: 'Space Grotesk';
  }
  .historyBoxRes{
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    padding: 30px 10px 10px 10px;
    background-color: white;
  }
  .language-switcher {
    margin: 20px;
    
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 150px; /* Increased to accommodate the arrow */
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px;
    
}
.dropdownRes {
    position: relative;
    display: inline-block;
    width:62px; /* Increased to accommodate the arrow */
    border: 1px solid white;
    border-radius: 10px;
    padding: 6px;
    
}

.dropbtn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center; /* Aligns text and flag vertically */
    justify-content: space-between; /* Spaces out the flag, text, and arrow */
    width: 100%;
    color: white;
}
.dropbtnRes {
    background: none;
    border: none;
    cursor: pointer;
    
    
}

.dropbtn img {
    width: 32px;
    height: 32px;
     /* Space between flag and text */
}
.dropbtnRes img {
    width: 32px;
    height: 32px;
     /* Space between flag and text */
}

.dropdown-arrow {
    font-size: 20px;
    
    transition: transform 0.3s ease; /* Smooth rotation for arrow */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    margin-top: 20px;
    right: -12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 10px;
}

.dropdown-content img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

/* Rotate the arrow when the dropdown is open */
.dropdown-content.show-arrow .dropdown-arrow {
    transform: rotate(180deg);
}

.content {
    margin-top: 50px;
}


.slider{
    width: 500px;
    border-radius: 10px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffa500;
    color: black;
    border: none;
    font-family: monospace;
    font-weight:bolder;
}
.headerMT{
    margin-top: 120px;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffa500;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}

.sliderRes{
    width: 300px;
    border-radius: 10px;
    height: 300px;

    position: relative;
    overflow: hidden;
}
.sliderRes .listRes{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.sliderRes .listRes img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}
.sliderRes .buttonsRes{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.sliderRes .buttonsRes button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffa500;
    color: black;
    border: none;
    font-family: monospace;
    font-weight:bolder;
}
.sliderRes .dotsRes{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.sliderRes .dotsRes li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffa500;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.sliderRes .dotsRes li.activeRes{
    width: 30px;
}

.sliderFun{
    width: 500px;
    border-radius: 10px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.sliderFun .listFun{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.sliderFun .listFun img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    
}
.sliderFun .buttonsFun{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.sliderFun .buttonsFun button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffa500;
    color: black;
    border: none;
    font-family: monospace;
    font-weight:bolder;
}
.sliderFun .dotsFun{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.sliderFun .dotsFun li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffa500;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.sliderFun .dotsFun li.activeFun{
    width: 30px;
}

.sliderFunRes{
    width: 300px;
    border-radius: 10px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.sliderFunRes .listFunRes{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.sliderFunRes .listFunRes img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    
}
.sliderFunRes .buttonsFunRes{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.sliderFunRes .buttonsFunRes button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffa500;
    color: black;
    border: none;
    font-family: monospace;
    font-weight:bolder;
}
.sliderFunRes .dotsFunRes{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.sliderFunRes .dotsFunRes li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #ffa500;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.sliderFunRes .dotsFunRes li.activeFunRes{
    width: 30px;
}
.headerImage img{
border-radius: 10px;
}

#loading-spinner {
    display: none; /* Hide by default */
    font-size: 30px;
    color: #007bff;  
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally & vertically */
    z-index: 9999;
}


.fontForRes{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.main-news-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-width: 900px;
    height: 388px;
}

.main-news-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
    color: white;
    padding: 20px;
    width: 100%;
    z-index: 5;
}

.category {
    background-color: #00496b;
    color: white;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 5px;
}

.news-list {
    margin-top: 10px;
}

.news-item {
    display: flex;
    align-items: center;
    background: rgb(239, 239, 239);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.news-item img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
}
.main-news-card img {
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.main-news-card h3, 
.main-news-card .category, 
.main-news-card .time {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.main-news-card.show h3, 
.main-news-card.show .category, 
.main-news-card.show .time {
    opacity: 1;
    transform: translateY(0);
}

.news-item {
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.news-item.active {
    background-color: #00496b;
    transform: scale(1.05);
    border-radius: 10px;
    color:white;
  
}







